fastapi
uvicorn
tensorflow
pillow
numpy
python-multipart
gtts
jinja2
pyspellchecker
opencv-python
opencv-contrib-python
gdown
opencv-python-headless
numpy
python-multipart
gdown
python-dateutil
pydantic
spellchecker